<div class="container mt-5">
  <h2 class="mb-5 text-center">List People's Account</h2>

  <button class="btn btn-success mb-3" (click)="addData()">+ Add</button>
  <table class="table table-striped table-bordered">
    <thead class="text-center table-info">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Instagram</th>
        <th scope="col">Twitter</th>
        <th scope="col">Facebook</th>
        <th scope="col">LinkedIn</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="dataSheet?.length; else noData">
        <tr *ngFor="let data of dataSheet; let i = index">
          <th scope="row" class="text-center">{{i+1}}</th>
          <td>{{data.name}}</td>
          <td class="text-center"><a [href]="data?.instagram" target="_blank">Link</a></td>
          <td class="text-center"><a [href]="data?.twitter" target="_blank">Link</a></td>
          <td class="text-center"><a [href]="data?.facebook" target="_blank">Link</a></td>
          <td class="text-center"><a [href]="data?.linkedin" target="_blank">Link</a></td>
          <td class="text-center">
            <button class="btn btn-warning me-2" (click)="editSheetData(i)">Edit</button>
            <button class="btn btn-danger" (click)="deleteSheetData(i, data.name)">Delete</button>
          </td>
        </tr>
      </ng-container>
      <ng-template #noData>
        <tr>
          <th colspan="7" class="text-center">
            <h4>{{'No Data'}}</h4>
          </th>
        </tr>
      </ng-template>
    </tbody>
  </table>
</div>